
  .gvTitle {
    font-family: Open Sans;
    text-decoration: underline;
  }

  .featured-image-block-grid-header {
    margin-left: auto;
    margin-right: auto;
  }
  
  .featured-image-block-grid {
    background: radial-gradient(white, beige, beige);
    border-radius: 25px;
}
  
  .featured-image-block {
    margin-bottom: 20px;
  }
  
  .featured-image-block .featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
  }

  .gView {
    /* border: solid;
    border-color: green; */
    border-radius: 25px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .galImg {
    padding: 1.75%;
    background-image: linear-gradient(rgb(1, 53, 24),rgb(8, 97, 67), rgb(132, 230, 132));
    box-shadow: 0px 1.5px 5px -1px #333;
    text-shadow: 0px -1px #333;
  }
