
.about-the-author {
  background: radial-gradient(white, white, beige, beige);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #cacaca;
    color: black;
    border-radius: 25px;
  }
  
  .about-the-author .separator-left {
    text-align: left;
  }
  
  .about-the-author .separator-left::before, .about-the-author .separator-left::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .about-the-author .separator-left::after {
    clear: both;
  }
  
  .about-the-author .separator-left::after {
    position: relative;
    width: 5rem;
    border-bottom: 0.125rem solid #1779ba;
    margin: 0.3rem auto 0;
    margin-left: 0;
  }
  
  .about-the-author .author-title {
    text-transform: uppercase;
    text-align: center;
    font-family: Open Sans;
  }
  
  .about-the-author .author-social {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  
  .about-the-author .author-social .fa-stack {
    display: inline-block;
  }
  
  .about-the-author .author-image {
    border: 1px solid #cacaca;
  }
  
  .thanks {
      float: right;
  }

  #abtUs {
    font-family: open sans;
  }