.product {
    background: radial-gradient(white, white, beige, beige);
    text-align: center;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 7.5%;
    margin-left: 7.5%;
    inline-size: fit-content;
}

#productHeader {
    text-align: center;
}


.work-feature-block {
    background: radial-gradient(white, white, beige, beige);
    padding: 3.5%;
    border: solid;
    border-color: green;
    border-radius: 25px;
    margin: 1%;
}
  
.work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
}

#colorChoice {
    background: radial-gradient(white, beige);
    padding: 1rem;
    border: solid;
    border-color: green;
    border-radius: 25px;
    margin: 1%;
    text-align-last: start !important;
}


@media screen and (max-width: 650px){
    #colorChoice {
        padding-left: 10%;
    }
}

@media screen and (min-width: 650px){
    #colorChoice {
    padding-left: 4.5%;
    }
}

#red {
    color: red;
}
#palePink {
    color: rgb(230, 120, 120);
}
#fuchsia {
    color: fuchsia;
}
#brown {
    color: brown;
}
#gold {
    color: gold;
}
#lightBlue {
    color: lightblue;
}
#royalBlue {
    color: royalblue;
}
#silver {
    color: silver;
}
#lightGreen {
    color: lightgreen;
}
#darkGreen {
    color: darkgreen;
}