.product {
    background: radial-gradient(white, white, beige, beige);
    text-align: center;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 7.5%;
    margin-left: 7.5%;
    inline-size: fit-content;
}

.product-desc {
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-size: xx-large;
    font-family: open sans;
}

#productHeader {
    text-align: center;
}

.install {
    background: radial-gradient(white, white, beige, beige);
    border: solid;
    border-color: red;
    border-radius: 25px;
    box-shadow: 0px 1.5px 5px -1px #333;
    text-shadow: 0px -1px #333;
}


.work-feature-block {
    background: radial-gradient(white, white, beige, beige);
    padding: 3.5%;
    border: solid;
    border-color: green;
    box-shadow: 0px 1.5px 5px -1px #333;
    text-shadow: 0px -1px #333;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}
  
.work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px;
    background-image: linear-gradient(rgb(1, 53, 24),rgb(8, 97, 67), rgb(132, 230, 132));
    box-shadow: 0px 1.5px 5px -1px #333;
    text-shadow: 0px -1px #333;
}

#colorChoice {
    background: radial-gradient(white, beige);
    padding: 1rem;
    border: solid;
    border-color: green;
    box-shadow: 0px 1.5px 5px -1px #333;
    text-shadow: 0px -1px #333;
    border-radius: 25px;
    margin: 1%;
    text-align-last: start !important;
    font-weight: bold;
}

.colorLi {
    margin: 0%;
}


@media screen and (max-width: 650px){
    #colorChoice {
        padding-left: 10%;
    }
}

@media screen and (min-width: 650px){
    #colorChoice {
    padding-left: 4.5%;
    }
}

#red {
    color: red;
}
#palePink {
    color: rgb(230, 120, 120);
}
#fuchsia {
    color: fuchsia;
}
#brown {
    color: brown;
}
#gold {
    color: gold;
}
#lightBlue {
    color: lightblue;
}
#royalBlue {
    color: royalblue;
}
#silver {
    color: silver;
}
#lightGreen {
    color: lightgreen;
}
#darkGreen {
    color: darkgreen;
}

#colorTitle {
    font-weight: revert;
}
