
  .marketing-site-footer {
    background-image: transparent;
    color: black;
    padding: 2rem 0 0;
  }
  
  .marketing-site-footer .marketing-site-footer-menu-social a {
    color: black;
  }
  
  .marketing-site-footer .column-block {
    margin-bottom: 30px;
  }
  
  .marketing-site-footer > .row {
    margin-bottom: 1rem;
  }

  .footer-sections {
    background: radial-gradient(white, white, beige, beige);
    margin: 1rem;
    border-radius: 25px;
  }

  .contact {
    color: black;
  }

  #cont {
    width: fit-content;
  }

  #insta {
    padding-top: 1rem;
  }

  .fa-phone:before {
    color: green;
  }

  .fa-envelope-o:before {
    color: green;
  }

  .fa-instagram:before {
    font-size: larger;
  }

  .fa-stack-2x {
    background: linear-gradient(to top left, Orange, Violet, Blue);
    border-radius: 100px;
    color: transparent;
  }

  @media screen and (max-width: 39.9375em) {
    .marketing-site-footer .columns {
      margin-bottom: 2rem;
      inline-size: fit-content;
    }
  }
  
  .marketing-site-footer-name {
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .marketing-site-footer-title {
    color: black;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .marketing-site-footer-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }
  
  .marketing-site-footer-block .fa {
    font-size: 2rem;
    color: #020304;
  }
  
  .marketing-site-footer-block p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
  
  .marketing-site-footer-bottom {
    background: #020304;
    padding: 1%;
    text-align: center;
    margin: 1rem;
    border-radius: 25px;
  }

  .copyright {
      color: black;
      background: radial-gradient(white, white, beige, beige);
      font-size: large;
      border-radius: 25px;
  }
  
  #contact {
    padding-top: 5%;
  }

  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: #8aa0ae;
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
              
    }
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
      text-align: center;
    }
  }
  
  