
  .topbar-sticky-shrink {
    transition: padding 0.25s ease;
    background: radial-gradient(white, white, beige, beige);
    border-radius: 25px;

  }

  #head {
    background: radial-gradient(white, white, beige, beige);
    color: black;
    border-radius: 25px;
    font-family: Ruthie;
  }

  #emptyDiv {
      padding: 1rem;
  }

  .page {
      color: black;
      font-size: xx-large;
  }

  @media screen and (min-width: 1500px) {
    #head {
      margin-right: 20%;
      margin-left: 20%;
    }

    #TopTb {
      margin-right: 20%;
      margin-left: 20%;
    }
  }

  @media screen and (max-width: 1500px) and (min-width: 750px) {
    #head {
      margin-right: 15%;
      margin-left: 15%;
    }

    #TopTb {
      margin-right: 15%;
      margin-left: 15%;
    }

  }

  @media screen and (max-width: 750px) {
    #head {
      margin-right: 12.5%;
      margin-left: 12.5%;
    }

    #TopTb {
      margin-right: 12.5%;
      margin-left: 12.5%;
    }

  }


  @media screen and (max-width: 639px) {
    #bow {
      margin-bottom: 0%;
      float: center
    }
  }

  @media screen and (min-width: 640px) {
    #bow {
      margin-bottom: -35%;
      margin-top: -5%;
    }
  }
  
  @media screen and (max-width: 656px) {
    .topbar-sticky-shrink{
        justify-content: center;
    }
  }

  .topbar-sticky-shrink .menu {
    background: transparent;
    color: black;
  }
  
  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }
  
  [data-sticky] {
    width: 100%;
  }
  
  .topbar-sticky-shrink-header {
    padding: 1rem 0;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  